.bg-img{
    background-image: url("img_furama/Review-Furama-Resort-Da-Nang-13.jpg");
    background-size: cover;
}
#header{
    height: 6rem;
    width: 100%;
}
.middle-header{
    display: flex;
    justify-content: space-around;
}
.head {
    width: 90%;
    position: relative;
    left: 5%;
    height: 52px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.logo-head{
    align-items: center;
}
.logo-furama{
    width: 4.5rem;
    height:4.5rem;
}
.middle-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer {
    padding: 10px;
    text-align: center;
    background: white;
    margin-top: 10px;
}
.top-nav {
    overflow: hidden;
    background-color: white;
}

.top-nav div {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.top-nav div:hover {
    font-weight: bold;
    text-decoration: underline;
}